.pagination{
   display: flex;
   font-size: 0.9rem;
   color: white;
   font-family: Tahoma, sans-serif;
   background-color:rgba(0, 0, 0, 0.365);
   padding: 2px;
   justify-content: center;
}
.pagination div{
   margin: 0 2px;
   display: flex;
   justify-content: center;
   align-items:center;
   cursor: pointer;
   border-radius: 8px;
   transition: background-color .2s linear ;
   height: 35px;
   width: 35px;
   text-shadow: 0 0 5px rgba(51, 51, 51, 0.239);
}



.pagination div:hover{
 background-color:rgba(176, 176, 176, 0.303);
}



div .active{
   font-size: 1.4rem;
   font-weight: bold;
   text-shadow: 0 0 10px rgba(24, 24, 24, 0.923);
}
.hidden{
   opacity: 0;
   z-index: -1;
}