.filmpage{
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.819);
  }

@media (max-width:700px) {
    .filmpage{
        grid-template-columns: 1fr 2fr;
        padding: 10px;
    }
}

@media (max-width:500px) {
    .filmpage{
        grid-template-columns: 1fr;
        padding: 5px;
    }
}
