.wrapper{
    padding-bottom: 150px;
}
.wrapper h1, .h3 {
    margin-top: 20px;
    color:white;
    text-align: center;
    text-shadow: 0 0 8px rgba(17, 17, 17, 0.777);
    margin-bottom: 20px;
    
}

.basket{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}