.h1{
   color: white;
   text-shadow: 3px 3px 8px rgb(0, 0, 0);
   text-align: center;
   margin: 30px;
}

.info {
  padding: 0 20px;
  margin-top: 10px;
}

.info p{
   font-style: italic;
   text-shadow: 0 0 8px black;
   color: white;
}
.top{
   display: flex;
   flex-wrap: wrap;
   color:white;
   justify-content: center;
}