*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.App{
    font-family: sans-serif;
    min-height: 900px;
    margin-top: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url(./img/background.jpg);
    background-position: 0 0;
    background-attachment: fixed;
}